# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Number Wizard Console.iml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\Projects\Udemy\Number Wizard Console\.idea\.idea.Number Wizard Console\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
